#
[client]
port			= 3306
socket			= /var/lib/mysql/mysql.sock
#socket			= /tmp/mysql.sock

[mysqld]
port			= 3306
datadir			= /home/mysql
pid-file		= /var/run/mysqld/mysqld.pid
socket			= /var/lib/mysql/mysql.sock
#socket			= /tmp/mysql.sock
skip-external-locking
key_buffer_size		= 4M
max_allowed_packet	= 16M
table_open_cache	= 1024
sort_buffer_size	= 2M
read_buffer_size	= 2M
read_rnd_buffer_size	= 1M
myisam_sort_buffer_size = 4M
query_cache_size	= 64M
query_cache_limit	= 16M
max_connections		= 64
join_buffer_size	= 64M
tmp_table_size		= 128M
max_heap_table_size	= 128M
thread_cache_size	= 8
#thread_concurrency	= 8

myisam_recover

innodb_file_per_table

default-storage-engine	= InnoDB

bind-address		= 127.0.0.1

skip_name_resolve

log-bin			= mysql-bin
server-id		= 1

expire_logs_days	= 4
binlog_format		= mixed

slow_query_log

innodb_data_file_path	= ibdata1:100M:autoextend

innodb_buffer_pool_instances = 1

#innodb_buffer_pool_size = 1G
#innodb_additional_mem_pool_size = 20M

innodb_log_file_size	= 100M
innodb_log_buffer_size	= 32M
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 50

innodb_file_format	= Barracuda
innodb_flush_method	= O_DIRECT
skip-innodb_doublewrite

[mysqldump]
quick
max_allowed_packet	= 160M

[myisamchk]
key_buffer_size		= 256M
sort_buffer_size	= 256M
read_buffer		= 2M
write_buffer		= 2M

[mysqlhotcopy]
#datadir		= /home/mysql
interactive-timeout
